* {
    background-color: darkgrey;
    color: white;

}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

li {
    font-size: 30px;
}

nav {
    font-size: 40px;
}

p {
    font-size: 30px;
}