* {
    background-color: #2E2E3A;
    color: white;

}

nav div ul li a {
    color: white;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/developer-cycle.png");
    background-size:contain;
    background-position: center;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

li {
    font-size: 30px;
}

nav {
    font-size: 40px;
}

p {
    font-size: 30px;
}
